<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <table style="width: 1000px" border=1)>
    <tr>
      <th colspan=2><img src="header.png" /></th>
    </tr>
    <tr>
      <th colspan=2>Tablica sa podacima ventila</th>
    </tr>
    <tr>
      <td>Serijski broj ventila:</td><td>{serbroj}</td>
    <tr>
      <td>Lokacija ventila:</td><td>{lokacija}</td>
    <tr>
      <td>Nazivni prečnik:</td><td>{precnik}</td>
    <tr>
      <td>Radni medijum:</td><td>{medijum}</td>
    <tr>
      <td>Ispitni medijum:</td><td>{ispMedij}</td>
    <tr>
      <td>Pritisak otvaranja:</td><td>{pritisak}</td>
    <tr>
      <td colspan="2">
        <img src="../{slika}" />
      </td>
  </table>
  </body>
</html>
